
body{
    background-color: #93A8AC;
    text-align: center;
    justify-content: center;
}
.container{
    height: 70vh;
    /* width: 70%; */
    /* text-align: center;
    align-items: center;
    justify-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
}
.box{
    height: 18vmin;
    width:18vmin;
    background-color: #ffffc7;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0,0,1);
    font-size: 9vmin;
    color: #000;;
}
#reset{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: white;
    border-radius: 2rem;
    border:none;
}
#new-game{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: white;
    border-radius: 2rem;
    border:none;
}

#msg{
    color: #ffffc7;
    font-size: 8vmin;
}
.msg-container{
    height:30vmin;
}

.hide{
    display: none;
}